.item {
  margin: 0px;
  float: left;
  padding: 0px;
  background: #D8D5D2;
  font-weight: 300;
}

.doublewidth img {
  width: 220px;
}

.singlewidth img {
  width: 110px;
}

.container {
  margin: 0px;
  width: 600px;
}

body {
  text-align: center;
}
