$def with (responses, yay)

<p>
Thanks for responding via our online RSVP form. <br>
$if yay: We are excited that you will be joining us on the day of our wedding!
$else: We are sorry you won't be able to make it.
<br>
<br>
Here is a summary of the guests in your party:
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Guest</th>
      <th>Attending</th>
      <th>Meal Choice</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    $for response in responses:
    <tr>
      <td>$response['firstName'] $response['lastName']</td>
      <td>$response['attending']</td>
      <td>$response['mealChoice']</td>
      <td>$response['notes']</td>
    </tr>
  </tbody>
</table>
<br>
If you have any questions, feel free to email us at <a href="mailto:nickandkatie2013@gmail.com">nickandkatie2013@gmail.com</a> if you have any concerns.
</p>
