<!DOCTYPE html>
<html>
  <head>
    <title>Katie and Nick's Wedding</title>
    <script src="static/js/jquery-1.8.2.js"></script>
    <!--
    <script src="static/js/jquery.masonry.js"></script>
    <script>
      $(function(){
      $('#container').masonry({
      // options
      itemSelector : '.item',
      columnWidth : 240
      });
      });
    </script>

    <LINK href="static/css/style.css" rel="stylesheet" type="text/css">
    -->
  </head>

  <body>
    <h1>Hello, world</h1>
    <!--
    <div class="item">Landing Page</div>
    <div class="item">Events Page</div>
    <div class="item">Maps Page</div>
    <div class="item">Accommodations</div>
    <div class="item">Things to Do in Stratford and St. Marys</div>
    <div class="item">RSVP Page</div>
    <div class="item">Registry</div>
    -->
  </body>
</html>

